<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>自定义组件使用v-model</title>
  <style>
    .content-box {
      width: 500px;
      padding: 10px 0;
      text-align: center;
      border-bottom: 1px solid red;
      background-color: #0fc;
    }
    input {
      border: none;
      height: 20px;
      border-radius: 4px;
    }
    img {
      width: 500px;
    }
  </style>
</head>
<body>
  <div id="app">
    <div class="content-box">
      <span>{{ msg }}</span><br>
      <input type="text" placeholder="请输入"><br>
      <span>自定义组件使用v-model</span><br>
      <my-input v-model="myinputV"></my-input>
    </div>
      <img src="./images/myinput.png" alt="">
    <h2>下面利用三种方法 实现父子组件通信</h2>
    <div class="content-box">
      <h3>1.正常父子通信</h3>
      <div class="parent">
        <p>我是父亲 对儿子说：<span style="color:red">{{ carGiveChild }}</span></p>
        <!-- 对于绝大多数项目来说，在单文件组件和字符串模板中组件名应该总是 PascalCase 的——但是在 DOM 模板中总是 kebab-case 的。 -->
        <child-one :car-send-parent="carGiveChild" @custom-returnback="returnBackJianTing"></child-one>
      </div>
    </div>
    <div class="content-box">
      <h3>2.改用v-model通信</h3>
      <div class="parent">
        <p>我是父亲 对儿子说：<span style="color:green">{{ carGiveChild }}</span></p>
        <child-two v-model="carGiveChild"></child-two>
      </div>
    </div>
    <div class="content-box">
      <h3>3.改用v-model 默认值通信</h3>
      <span>给组件添加 v-model 指令时 默认会把 value 作为组件的属性 然后把 input 事件作为给组件绑定的事件名</span>
      <div class="parent">
        <p>我是父亲 对儿子说：<span style="color:pink">{{ carGiveChild }}</span></p>
        <child-three v-model="carGiveChild"></child-three>
      </div>
    </div>
  </div>
  <!-- 生产环境版本，优化了尺寸和速度 -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- <script src="https://unpkg.com/vue"></script> -->

  <script>
    const vm = new Vue({
      el: "#app",
      data: {
        msg: "信息",
        myinputV: '',
        carGiveChild: "儿子，给你一辆天籁小轿车"
      },
      methods: {
        // 这个方法接收一个参数 用于接收子组件传递的参数
        returnBackJianTing(val) {
          this.carGiveChild = val;
          console.log('---', val)
        }
      },
      components: {
        MyInput: {
          props: {
            iptval: String
          },
          template: `
            <div>
              <input type="text" v-bind:value="iptval" v-on:input="$emit('input', $event.target.value)"></input>
            </div>
          `,
          methods: {
            // v-model 的功能是 实现数据的双向绑定 即绑定 myinputV 值以及改变值

            // 1.v-bind 将myinputV的值绑定到value
            // 2.v-on   当触发事件时将事件目标对象赋值给myinputV
            // <input type="text" v-bind:value="myinputV" v-on:input="event => myinputV = event.target.value"></input>

            // 而在自定义标签中的 v-model 和在 input 中的功能一致 但绑定的事件有些许不同
            // <my-input type="text" v-bind:value="iptval" v-on:input="value => iptval = value"></my-input>

            // 在子组件中使用 emit 触发 自定义组件 my-input 的事件 此时 emit 并不能直接传 input 的event 事件 而是直接传目标值
            // 参考链接 1.https://segmentfault.com/a/1190000020650594?utm_source=tag-newest
            onIpt(e) {
              this.$emit('input', e.target.value)
            }
          },
        },

        // JS/JSX 中的组件名应该始终是 PascalCase 的，尽管在较为简单的应用中只使用 Vue.component 进行全局组件注册时，可以使用 kebab-case 字符串。
        ChildOne: {
          props: {
            // 在声明 prop 的时候，其命名应该始终使用 camelCase，而在模板和 JSX 中应该始终使用 kebab-case。
            carSendParent: String
          },
          template: `
          <div class="child">
            <p>我是儿子，对父亲说：{{ carSendParent }}
              <a href="javascript:;" @click="returnBackFn">回应</a>
            </p>
          </div>
          `,
          methods: {
            // vue.js:640 [Vue tip]: Event "returnback" is emitted in component <Child> but the handler is registered for "returnBack". Note that HTML attributes are case-insensitive and you cannot use v-on to listen to camelCase events when using in-DOM templates. You should probably use "return-back" instead of "returnBack".

            // 首先就是在非开发环境下判断下事件名的问题，其实是事件名kebab-case vs camelCase 或 PascalCase。
            // 也就是HTML不区分大小写，所以建议使用kebab-case而不是驼峰命名法

            // 自定义事件用kebab-case, 自定义属性用camelCased

            // 点击回应后
            // 1.父亲对儿子说的话 变成了 儿子对父亲的回应
            // 2.儿子收到的信息也变了，实现通信。
            returnBackFn() {
              this.$emit('custom-returnback', '给老爹一部大奔')
            }
          }
        },

        ChildTwo: {
          // 自定义 prop 和 event
          model: {
            prop: 'carSendParent',
            event: 'custom-returnback',
          },
          props: ['carSendParent'],
          template:`
          <div class="child">
            <p>我是儿子，对父亲说：{{ carSendParent }}
              <a href="javascript:;" @click="returnBackFn">回应</a>
            </p>
          </div>
          `,
          methods: {
            returnBackFn() {
              this.$emit('custom-returnback', '给老爹一部大奔')
            }
          }
        },

        ChildThree: {
          // 自定义 prop 和 event
          // 这个可以省略

          // model: {
          //   prop: 'carSendParent',
          //   event: 'input',
          // },

          // 参考链接：https://www.jianshu.com/p/07a4258c6620
          props: ['carSendParent'],
          template:`
          <div class="child">
            <p>我是儿子，对父亲说：{{ carSendParent }}
              <a href="javascript:;" @click="returnBackFn">回应</a>
            </p>
          </div>
          `,
          methods: {
            returnBackFn() {
              this.$emit('input', '给老爹一部大奔')
            }
          }
        }
      }
    })


  </script>
</body>
</html>